{% extends 'base.html.twig' %}

{% block title %}Recherche de trajet!{% endblock %}

{% block body %}
    <div>
        {{ form(formulaire) }}
        {% set res = 'Aucun résultat' %}
        {% if not_found %}
        {{ res }}
        {% endif %}
    </div>
{% endblock %}
