{% extends 'base.html.twig' %}

{% block title %}Trajet{% endblock %}

{% block body %}
    <h1>Trajet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trajet.id }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ trajet.distance }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_trajet_index') }}">back to list</a>

    <a href="{{ path('app_trajet_edit', {'id': trajet.id}) }}">edit</a>

    {{ include('trajet/_delete_form.html.twig') }}
{% endblock %}
